/* Generales */
*{
    font-family: Montserrat, sans-serif;
}
.background-blue{
    background-color: #00b0ff;
}



/* Contenedores */
.container-frame{
    margin-top: 170px;
}
.container-centered{
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-centered > div{
    width: 100%;
}


.container-centered .img-user{
    background-color: #FFF;
    border-radius: 55px;
    width: 110px;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* NAV */
.navbar-theone{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.nav-item{
    margin: 10px!important;
}
.nav-link:hover{
    color: #FFF;
}

/* Forms */
.input-form-white{
    width: 95%;
    border: 0;
    border-bottom: 1px solid #FFF;
    background-color: transparent!important;
    margin: 8px;
    padding: 12px;
    text-align: center;
    color: #FFF;
}
/* input:focus {
    border: 0;
    font-size: 14px;
    margin: 5px;
    outline: none;
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: 2px solid #FFF;
    font-weight: 600;
    background-color: #1db7ff;
}
input:-internal-autofill-selected{
    background-color: transparent!important;
}
input:hover{
    background-color: transparent;
} */
::placeholder{
    color: #FFF;
}

/* Botones */
.btn-primary-theone{
    width: 50%;
    border: 0;
    background-color: #003567;
    border-radius: 40px;
    padding: 15px;
    color: #FFF;
    font-size: 1.2em;
}
@media (max-width: 768px) {
    .btn-primary-theone{
        width: 95%;
    }
}



/* Menus */
.logo-header{
    width: 190px;
}
.container-menu{
    display: flex;
    flex-direction: column;
}